@charset "UTF-8";

body {
	background-color: rgb(243, 243, 243);
}

/* HEADER */
.mcolor-header {
	background-color: #f5534b;
	color: #fff;
}
#navContent img {
	margin-top: -17px !important;
}

/* CAMINHO */
#caminhoPasso1 a {
	text-decoration: underline !important;
}
a.caminho-pagina-atual {
	text-decoration: none !important;
	margin-right: 5px;
}
a.caminho-pagina-atual:after {
  content: ":";
  display: inline;
}
a.caminho-pagina-passado {
	color: #fff !important;
	opacity: 1;
}

/* AREA DE BUSCA */
.mcolor-cliente-principal-bg {
	background-color: #302c29;
}
#busca-flutuante:hover {
	background-color: #493f38;
}
.mcolor-label-text2 {
	color: #f5534b;
}
.mcolor-busca-bright,
.bloco-seletor-adulto-selected,
.bloco-seletor-crianca-selected {
	background-color: #493f38 !important;
}
.mcolor-busca-bright:hover {
	background-color: #211f1d !important;
}
#busca-field-destino,
#busca-field-periodo {
  width: 480px;
}
.busca-field-label {
	color: #f5534b;
}
.chegada-field {
	width: 100%;
}
#var-periodo-label-noites {
	display: none;
}
#var-periodo-label-noites-2 {
	display: none;
	text-transform: none;
}
#var-chegada-periodo-label:after {
  content: "-";
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}
#var-partida-pariodo-label {
  margin-right: 4px;
}
.seletor-idade.invalid-idade {
	border: 1px solid #f5534b;
	box-sizing: border-box;
}
.mcolor-action-btn {
  background-color: #f5534b;
  border-color: #f5534b !important;
}
#busca-btn {
	font-weight: 700;
}

/* CALENDARIO */
#busca-calendario {
	width: auto;
	background-color: #302c29;
}
#calendario-1 {
	width: 100%;
	margin-left: 0;
}
.gridDatas .blocoData {
  height: 45px;
  width: 45px;
}
#busca-calendario .celulaData:hover,
#busca-calendario .calendario-tooltip {
	background-color: #493f38;
}
#busca-calendario .calendario-tooltip:after {
  border-bottom-color: #493f38;
}
#busca-calendario .inBetweenDate {
  background-color: #493f38;
  opacity: 1;
}
#busca-calendario .startDate,
#busca-calendario .inBetweenDate:hover,
#busca-calendario .endDate {
  background-color: #f5534b !important;
  opacity: 1 !important;
  border-radius: 50%;
}
#busca-calendario .endDate {
	opacity: 0.4 !important;
}
#busca-calendario .startDate:after,
#busca-calendario .inBetweenDate:hover:after {
  content: "";
  background-color: #493f38;
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#busca-calendario .startDate:after,
#busca-calendario .startDate:hover:after {
	right: 0;
	left: auto;
}
.celulaData .bestRate {
	font-size: 9.87px;
}
.dia-semana {
  width: 45px;
}
/* Calendario arrows */
#busca-calendario .arrow-left,
#busca-calendario .arrow-right {
	background-color: #493f38;
  border: 0 none;
  width: 35px;
  height: 100px;
  top: 150px;
  left: 0;
}
#busca-calendario .arrow-right {
	right: 0;
	left: auto;
}
#busca-calendario .arrow-left:hover,
#busca-calendario .arrow-right:hover {
	background-color: #211f1d;
}
#busca-calendario .arrow-left:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid;
  border-right-color: #fff;
  position: absolute;
  left: 11px;
  top: 40px;
  cursor: pointer;
  z-index: 100;
}
#busca-calendario .arrow-right:after {
	content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid;
  border-left-color: #fff;
  position: absolute;
  right: 11px;
  top: 40px;
  cursor: pointer;
  z-index: 100;
}

/* HOTEIS */
#listagemHoteis .page-content {
	background-color: inherit;
	box-shadow: none !important;
  border-radius: 0 !important;
}
#listagemHoteis .itemHotel  {
	background-color: #fff;
	border: 0 none;
	box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 550px;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  vertical-align: top;
  margin-left: 14px;
}
#listagemHoteisContent > div:nth-child(1) {
	margin-top: 0;
	margin-left: 0;
}
.tituloHotel {
	width: 100%;
	height: 100px;
}
.icoEnderecoHotel {
	margin-top: 5px;
}
.itemHotelContent .infoHotel {
	color: #666666;
	text-transform: uppercase;
	margin-top: 15px;
}
.itemHotelContent .itemVarNomeHotel {
	margin-top: 15px;
	color: #444;
	font-size: 20px;
}
.imgTripadvisor {
  position: absolute;
  right: -20px;
  top: 15px;
}
.mcolor-cliente-principal-text {
	color: #f5534b;
}
.itemBtnSelecionarAcomodacao,
.itemVarPercentualDesconto,
.itemVarDescricaoFormasPagamento,
.itemBtnMaisAcomodacoes {
	display: none !important;
}
.itemHotel .slider-imagens-hotel {
  width: 260px;
	height: 230px;
}
.itemHotel .slide img,
.itemHotel > img {
	width: 260px;
	height: 230px;
}
.img-hotel-arrow-left,
.img-hotel-arrow-right {
  height: 62px;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
}
.img-hotel-arrow-left {
	border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.img-hotel-arrow-right { 
	right: 0;
	left: auto;
	border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.itemHotelContent {
	margin-left: 0;
	clear: both;
	height: auto;
}
.itemHotelContent .infoHotel .itemVarTelefoneHotel {
	margin-left: 0;
}
.itemHotelContent .infoAcomodacao {
	width: 100%;
}
.itemHotelContent .infoAcomodacao .itemAcomodacao {
	color: #444444;
}
.itemVarNomeAcomodacao {
	margin-left: 20px;
}
.itemHotelContent .infoAcomodacao .itemVarDescricaoAcomodacao{
	color: #478800;
	font-size: 14px;
	margin-left: 44px;
	margin-top: 0;
}
.hoteis-ico-mais-pessoas {
  font-size: 13px;
  top: 2px;
  left: 18px;
}
.itemHotelContent .blocoReserve {
	width: 100%;
	position: relative;
	clear: both;
	margin-top: 30px;
}
.itemHotelContent .blocoReserve .itemVarValorSemDesconto,
.itemHotelContent .blocoReserve .itemVarValorFinal,
.itemVarValorAuxiliar {
	float: left;
	text-align: left;
	width: auto;
	clear: left;
}
.valorContainer {
	clear: left;
	float: left;
}
.itemHotelContent .blocoReserve .itemVarValorSemDesconto,
.hotel-indisponivel-texto-sub-titulo {
	color: #888;
}
.itemHotelContent .blocoReserve .itemVarValorFinal,
.hotel-indisponivel-texto-titulo {
	color: #444;
}
.itemHotelContent .blocoReserve .itemVarValorFinal.discounted {
	color: #f26522;
}
.itemVarValorAuxiliar {
	margin-bottom: 0;
	color: #888;
}
.itemHotelContent .blocoReserve .itemBtnEfetuarReserva {
	margin-top: 0px;
	margin-bottom: 30px;
}
.verPromocoesHotel {
	clear: both;
  display: block;
  text-align: center;
  color: #f5534b;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
}
.verPromocoesHotel:hover {
	text-decoration: underline;
}
.verPromocoesHotel:after {
	content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  margin-left: 5px;
}
 
#buscarNovamente {
	border: 0 none;
}
#buscarNovamente #paragrafo h1 {
	font-size: 26px;
}
#buscarNovamente #paragrafo h3 {
	font-size: 16px;
	color: #666;
}
#containerUltimasBuscas .ultimaBusca {
	vertical-align: middle;
}
#containerUltimasBuscas .ultimaBusca .conteudoBusca {
	color: #f5534b;
	font-weight: 500;
	float: none;
	line-height: 100%;
}
#containerUltimasBuscas .ultimaBusca:nth-child(1) .conteudoBusca {
	pointer-events: none;
	color: #999;
}
#containerUltimasBuscas .ultimaBusca:nth-child(1) .btnApagarBusca {
	display: none;
}

/** FOOTER **/
footer {
	background-color: #302c29;
}
footer #footerContent img {
	width: 59px;
	height: 21px;
	padding-top: 0;
}
.footerFirstLine .selo-lb {
	line-height: 100%;
	padding-top: 15px;
}

/** MODAL PROMOÇÕES **/
.modal-promocoes {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 99999;
}
.modal-promocoes-dialog {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
}
.close-modal-promocoes {
	left: 50%;
	position: absolute;
	width: 930px;
	-webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: right;
  top: 5%;
}
.btn-close-modal-promocoes {
	color: #fff;
  font-size: 30px;
  font-weight: 100;
	-webkit-transform: scaleX(1.5);
  -ms-transform: scaleX(1.5);
	transform: scaleX(1.5);
	display: inline-block;
	cursor: pointer;
}
.modal-promocoes-content {
  padding: 36px 0 0;
  width: 100%;
  max-width: 930px;
  min-width: 360px;
  max-height: 75%;
  overflow: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  border-radius: 5px;
  z-index: 9999999;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: left;
}
.modal-promocoes-header {
	padding: 0 70px;
	margin-bottom: 36px;
}
.modal-promocoes-header h1 {
	color:  #444444;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 26px;
	text-align: left;
}
.modal-promocoes-lista li {
	display: inline-block;
  vertical-align: top;
  width: 33%;
  box-sizing: border-box;
  border-left: 1px dotted #666;
  padding: 0 70px;
  margin-bottom: 50px;
  position: relative;
}
.modal-promocoes-lista li:nth-child(3n+1) {
	border-left: 0 none;
}
.modal-promocoes-lista strong {
	color: #444444;
	font-size: 15px;
	font-weight: 700;
	margin-right: 10px;
}
.promo-btn-tooltip {
	display: inline-block;
  border-radius: 50%;
  background-color: #adadad;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  width: 16px;
  height: 15px;
  box-sizing: border-box;
  padding-top: 1px;
  cursor: pointer;
  position: relative;
}
.promo-btn-tooltip:hover {
	background-color: #f5534b;
}
.promo-btn-tooltip:after {
  content: "";
  display: none;
  position: absolute;
  bottom: -5px;
  margin-left: -8px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e7e7e7;
}
.promo-btn-tooltip:hover:after {
	display: inline-block;
}
.promo-tooltip {
	display: none;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  box-shadow: 2px 4px 12px 0 rgba(2,0,2,.05);
  width: 270px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  margin-left: -20%;
  z-index: 9999999;
  margin-top: 5px;
}
.promo-btn-tooltip:hover + .promo-tooltip {
	display: block;
}
.promo-lista-descricoes {
	clear: both;
	margin: 15px 0;
}
.promo-lista-descricoes span {
	color:  #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	display: block;
}
.promo-valor {
	color: #444444;
	font-size: 19px;
	font-weight: 700;
	line-height: 20px;
}
.promo-valor.promo-com-desconto{
	color: #f26522;
}
.promo-valores del {
	color: #888888;
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
	margin-right: 10px;
}
.promo-btn-reservar{
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}