@charset "UTF-8";

/* HEADER */
.mcolor-header {
	background-color: #f5534b;
	color: #fff;
}
#navContent img {
	margin-top: -17px !important;
}

/* AREA DE BUSCA */
.mcolor-cliente-principal-bg {
	background-color: #302c29;
}
.mcolor-label-text2 {
	color: #f5534b;
}
.mcolor-busca-bright, .bloco-seletor-adulto-selected, .bloco-seletor-crianca-selected {
	background-color: #493f38 !important;
}
.mcolor-busca-bright:hover {
	background-color: #211f1d;
}
.busca-field-label {
	color: #f5534b;
}
.chegada-field {
	width: 100%;
}
#var-periodo-label-noites {
	display: none;
}
#var-periodo-label-noites-2 {
	display: none;
	text-transform: none;
}
#var-chegada-periodo-label:after {
  content: "-";
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}
#var-partida-pariodo-label {
  margin-right: 4px;
}
.mcolor-action-btn {
  background-color: #f5534b;
  border-color: #f5534b !important;
}
#busca-btn {
	font-weight: 700;
}